APP_NAME=Gymnasia API
ENV=development
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/gymnasia
JWT_SECRET=change-me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=43200
# Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
APP_ENCRYPTION_KEY=Gb4rgMXQBYQ94SQ8kuk6uwGhOrkeJpX6FdQ3Df7osbo=
INTERNAL_ADMIN_TOKEN=change-admin-token
AUTO_CREATE_TABLES=true
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:19006,http://127.0.0.1:19006
